/* common shered styel  */
body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato',sans-serif;
}
.section-title{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description{
  text-align: center;
  font-size: 18px;
}

/* nav releted styel  */
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 200;
}

.navtitle{
  font-size: 45px;
  font-weight:800;
  color: black;
}
.primary-text{
  color: rgb(235, 117, 49);
  font-size: larger;
}
.pri-button{
  border-radius: 3px;
  background: #fd6e0e;
  border: 0;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: aliceblue;
  padding: 15px 35px;
}


nav > ul{
  display: flex;
  text-align: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}

nav a{
  color: rgb(36, 2, 2);
  text-decoration: none;
}

/* header related styel */
.header{
  background-color: #fff8f3;
  background-image: url(../images/Profile-Picture-2-Small-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: bottom right ;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-contant{
  width: 500px;
}

.banner .profile{
  /* margin-left: auto; */
  width: 500px;
}
.banner-greating{
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}

/* main section styles */

/* about section  */
.about{
  padding: 130px;
  border-radius: 10px;
  background-color: aqua;
  margin: 130px 0px;
}